.submit {
    background-color: #ffda00; /* Yellow */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    margin-top: 45px;
    margin-bottom: 20px;
    border-radius: 12px;
}

.submit:hover {
    opacity: 0.7;
    cursor: pointer;
    transition: 0.3s;
}

.dot {
    height: 80%;
    width: 10%;
    background-color: black;
    border-radius: 50%;  /* the roundness of the dot */
    display: inline-block;
    margin-right: 2%;
    margin-top: 1%;
    margin-left: 2%;
}

.dot:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s;
}

.div {
    border: 1px solid black;
    background-color: #ccc;
    #position: absolute;
}

#avatar-display {
    #width: 400px;
    #height: 600px;
    clear: both;
    float: right;
    width: 30%;
    height: 500px;
    margin-right: 40px;
    border: 10px groove #ffda00;
    border-radius: 5px;
    background-color:   #08b29a   ;
}

.avatar {
    position: absolute;
    display: block;
    #width: 150px;
    #height: 280px;
    width: 15%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

#skin {
    width: 400px;
    height: 50px;
    float: right;
    width: 30%;
    margin-right: 40px;
    margin-bottom: 20px;
    border: 10px groove #ffda00;
    border-radius: 5px;
    background-color:   #08b29a ;
}

#hair-select {
    #width: 700px;
    #height: 50px;
    float: left;
    margin-left: 40px;
    width: 60%;
    height: 175px;
    margin-top: -72px;
    border: 10px groove #ffda00;
    border-radius: 5px;
    background-color:   #08b29a ;
}

.hair-pic {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 20px;
    float: left;
    width: 12%;
    height: 200px; /* not dynamic but looks better */
    object-fit: cover;
}

.hair-pic:hover {
    transform: scale(1.2, 1.2);
    transition-duration: 0.3s;
}

.arrow {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 60px;
    float: left;
    width: 5%;
    height: 50px; /* not dynamic but looks better */
    object-fit: cover;

}

.arrow:hover {
    transform: scale(1.1, 1.1);
    transition: 0.3s;
    cursor: pointer;
}

#hair-back {
    padding-left: 100px;
}

.hair-color {
    height: 50px;
    width: 50px;
    border-radius: 50%;  /* the roundness of the dot */
    display: inline-block;
    margin-right: 3%;
    margin-top: 5%;
    margin-left: 3%;
    
}

.hair-color:hover {
    transform: scale(1.2, 1.2);
    transition: 0.3s;
}

#clothes-select {
    float: left;
    margin-left: 40px;
    width: 60%;
    height: 175px;
    margin-top: 20px;
    border: 10px groove #ffda00;
    border-radius: 5px;
    background-color:   #08b29a ;
}

.shirt-pic {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    float: left;
    width: 100px;
    height: 100px;
    text-align: center;
    object-fit: cover;
}

.shirt-pic:hover {
    transform: scale(1.5, 1.5);
    transition: 0.3s;
}

.pants-pic {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    float: left;
    width: 100px;
    height: 90px;
    object-fit: cover;
    object-position: 50% 100%;
}

.pants-pic:hover {
    transform: scale(1.5, 1.5);
    transition: 0.3s;
}

#pants-back {
    padding-left: 100px;
}

#extra {
    float: left;
    margin-left: 40px;
    width: 60%;
    height: 150px;
    margin-top: 20px;
    border: 10px groove #ffda00;
    border-radius: 5px;
    background-color:   #08b29a;

}

#current-eyes {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 70px;
    float: left;
    width: 15%;
    height: 90px;
    margin-bottom: -20px;
    object-fit: cover;
    overflow: hidden;
    #object-position: right top;
    #border: 1px solid black;
}

#current-eyes:hover {
    transform: translate(0, 5px);
    transition: 0.3s;
}

#acc-back {
    padding-left: 100px;
}

#eyes-back {
    padding-left: 100px;
}

#current-acc {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    float: left;
    width: 15%;
    height: 140px;
    object-fit: cover;
    #overflow: hidden;
    #object-position: right top;
    #border: 1px solid black;
}

#current-acc:hover {
    transform: translate(0, 5px);
    transition: 0.3s;
}

#test {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    height: 10px;
}



.slidecontainer {
    width: 40%; /* Width of the outside container */
    float: left;
    margin-left: 20px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin-top: 20px;
  margin-left: 45px;
  
}


/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
    padding-top: 10px;
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 50px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Character Modal */
#character-select {
    background-color: #1d2147; /* Black w/ opacity */
}


/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 60px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption, #myModal {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

table td {

    border: 1px #000000 solid;
    width: 90px;
    height: 90px;
}

table {
  border-spacing: 0px;
}

.topborder {
  border-top: 10px #000000 solid;
}
.leftborder {
  border-left: 10px #000000 solid;
}
.botborder {
  border-bottom: 10px #000000 solid;
}
.rightborder {
  border-right: 10px #000000 solid;
}
.start {
  background-color: green;
}
.end {
  background-color: red;
}
.puzzlecell {
  background-color: blue; 
}

.closeBtn {
  color: #ccc;
  float: right;
  font-size: 30px;
  z-index: 2;
  position: relative;
}
.closeBtn: hover, .closeBtn: focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

body {
  margin: 0px;
}
#container {
  position: relative;
}
canvas {
  position: absolute;
  border: 1px solid black;
}
